annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
astropy==7.2.0
astropy-iers-data==0.2026.5.4.1.4.54
certifi==2026.4.22
click==8.3.3
fastapi==0.136.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.13
numpy==2.4.4
packaging==26.2
pydantic==2.13.4
pydantic_core==2.46.4
pyerfa==2.0.1.5
python-dotenv==1.2.2
PyYAML==6.0.3
redis==7.4.0
starlette==1.0.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.46.0
